.form {
    border: 2px solid var(--theme-typography-body-color);
    background-color: var(--theme-palette-white);
    padding: var(--theme-spacing-4) var(--theme-spacing-2);

    font-family: var(--theme-typography-body-font-family);
    font-size: var(--theme-typography-body-font-size);
    color: var(--theme-typography-body-color);
    letter-spacing: var(--theme-typography-body-letter-spacing);
}

.form-row,
.form-actions {
    display: flex;
    flex-direction: column;
}

* + .form-actions {
    margin-top: var(--theme-spacing-4);
}

.form-row > *:not(:last-child),
.form-actions > *:not(:last-child) {
    margin-bottom: var(--theme-spacing-1);
}

.form-actions {
    justify-content: flex-end;
}

.form-input {
    display: flex;
    flex-direction: column;
    min-width: var(--theme-shape-btn-width);
}

.form-input > label {
    cursor: pointer;
    margin-bottom: var(--theme-spacing-2);
}

.form-input > input {
    border: 2px solid var(--theme-typography-body-color);
    padding: var(--theme-spacing-2);
    height: 52px;
}

.form-button {
    min-width: var(--theme-shape-btn-width);
    border: 2px solid var(--theme-palette-black);
    padding: var(--theme-spacing-2);
    background-color: var(--theme-palette-black);
    color: var(--theme-palette-white);
    transition: color var(--theme-animations-short), background-color var(--theme-animations-short),
        border-radius var(--theme-animations-short);
    will-change: color, background-color, border-radius;
}

.form-button:hover {
    color: var(--theme-palette-black);
    background-color: var(--theme-palette-white);
    border-radius: var(--theme-shape-rounded);
}

.fom-button:disabled,
.form-button[disabled] {
    background-color: var(--theme-palette-disabled);
    pointer-events: none;
}

/* tablet & up */
@media screen and (min-width: 768px) {
    .form-row,
    .form-actions {
        flex-direction: row;
    }

    .form-row > *:not(:last-child),
    .form-actions > *:not(:last-child) {
        margin-top: 0;
        margin-right: var(--theme-spacing-2);
    }
}
