.form-input {
    display: flex;
    flex-direction: column;

    --rf-spacing-base: 4px;
    --rf-spacing-1: calc(var(--rf-spacing-base));
    --rf-spacing-2: calc(var(--rf-spacing-base) * 2);
    --rf-spacing-3: calc(var(--rf-spacing-base) * 3);
    --rf-spacing-4: calc(var(--rf-spacing-base) * 4);
    --rf-spacing-5: calc(var(--rf-spacing-base) * 5);
}

.form-input > label {
    cursor: pointer;
    margin-bottom: var(--rf-spacing-2);
}

.form-input > input {
    border: 2px solid;
    padding: var(--rf-spacing-3);
}
