.page-title-container {
    background-color: #000;
    color: #fff;
    padding: var(--theme-spacing-2);
    font-size: 18px;
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--theme-spacing-2);
}

/* tablet & up */
@media screen and (min-width: 768px) {
    .page-title-container {
        text-align: center;
        font-size: 24px;
    }

    .page-content {
        padding-top: calc(var(--theme-spacing-base) * 20);
    }
}
